.cards
    width: 100%
    height: 403px
    
.card-img
  width: 100vw
  height: 376px
  position: absolute
  left: 0
  overflow: hidden
.bg
  width: 100%
  height: auto
  object-fit: contain
  background-color: $Secundario-Blanco
  margin-top: 27px

.tarjetas
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 342px)
    grid-template-rows: 1fr
    grid-gap: 40px
    justify-content: center
    position: relative
    z-index: 30

.Rectangle
  width: 342px
  height: 294px
  border-radius: 10px
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2)
  background-color: $Secundario-Blanco

.cont-rect
    padding: 30px 31px 8px 28px

.design
  width: 60px
  height: 60px
  object-fit: contain

.digital-marketing
  width: 60px
  height: 60px
  object-fit: contain

.development
  width: 60px
  height: 60px
  object-fit: contain

.Nombre-del-servicio
  width: 283px
  height: 32px
  +Text-StyleDesktopLeftH4()
  margin-top: 36px
  margin-bottom: 19px


.Explicacin-del-serv
  width: 272px
  height: 48px
  +Text-StyleDesktopLeftBody-1-Gray()
  margin-top: 0
  margin-bottom: 21px

.Ver-ms
  display: inline-block
  width: 272px
  height: 40px
  +Text-StyleDesktopLeftBody-2-Coral()
  text-decoration: none
  
  


