footer
    width: 100%
    height: 64px
    margin: 84px 0 0 0
.caja-footer
    position: absolute
    width: 100%
    background-color: $Principal-azul
    height: 64px
    left: 0
    bottom: 0
.Todos-los-derechos-r
  position: relative
  width: 249px
  height: 17px
  font-family: Montserrat
  font-size: 12px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.42
  letter-spacing: normal
  color: $Secundario-Blanco
  padding: 23px 0 0 87px
  