@media (max-width: 1280px)
    .banner
        position: absolute
@media (max-width: 1180px)
    .banner
        width: 600px
        height: auto
        .banner-img
            width: 600px
            height: auto
    .titulos
        margin-bottom: 55px
       
@media (max-width: 1060px)       
    .presentacion
        flex-direction: column
        align-items: center
        .banner
            position: relative
            width: 75%
            margin:  20px 0
            .banner-img
                width: 100%
                
        .titulos
            margin-top: 25px
            margin-bottom: 15px
            z-index: 30
            display: flex
            flex-direction: column
            align-items: center
            .Te-ayudamos-a-potenc
                width: 90%
                height: auto
                font-size: 55px
                text-align: center
            .Somos-un-servicio-in
                width: 73%
                height: auto
                +Text-StyleDesktopLeftBody-1()
                margin: 0
                text-align: center
                font-weight: 500
            
    .Convertimos-marcas-e
        width: 80%
        height: auto
        margin: 25px auto 22px auto
        font-size: 30px
        
    .ajusteconv
        margin-left: 0

    .Somos-la-respuesta-t
        width: 60%
        height: auto
        margin: auto
        font-weight: 500

@media (max-width: 650px) 
    .presentacion
        .titulos
            margin: 15px 0 0 0
            .Te-ayudamos-a-potenc
                font-size: 32px
            
    .Convertimos-marcas-e
        width: 90%
        height: auto
        margin: 30px auto
        font-size: 24px
        
    .ajusteconv
        margin-left: 0

    .Somos-la-respuesta-t
        display: none